<template>
<div class="t">
 <nav>
  <b-navbar >
    <b-navbar href="#" style="color:white;"><b>All Countries(64)</b></b-navbar>


    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      
      <b-navbar-nav class="ml-auto">
       

        <b-nav-item-dropdown  text="Sort by" right>
          <b-dropdown-item href="#"></b-dropdown-item>
          <b-dropdown-item href="#"></b-dropdown-item>
          <b-dropdown-item href="#"></b-dropdown-item>
          <b-dropdown-item href="#"></b-dropdown-item>
        </b-nav-item-dropdown>
          <b-nav-item-dropdown text="League" right>
          <b-dropdown-item href="#"></b-dropdown-item>
          <b-dropdown-item href="#"></b-dropdown-item>
          <b-dropdown-item href="#"></b-dropdown-item>
          <b-dropdown-item href="#"></b-dropdown-item>
        </b-nav-item-dropdown>

        <b-nav-item-dropdown right>
          <template v-slot:button-content>
            <em>Time</em>
          </template>
          <b-dropdown-item href="#"></b-dropdown-item>
          <b-dropdown-item href="#"></b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>


 
          
  
 </nav>
</div>
</template>


<script>
export default {
    
}
</script>
<style scoped>
.t{
  color:white;
  text-decoration-color: white;
}
.navbar{
  background-color: rgb(94, 99, 91);
  text-decoration-color: blanchedalmond;
  color:white;
}
.nav-item-dropdown{
  color: aliceblue;
}

</style>