<template>
<div>
<nav>
        <b-nav tabs>
          <b-nav-item disabled><b>Today's Football</b></b-nav-item>
         </b-nav>
 </nav>
</div>
</template>
<script>
export default {
        
}
</script>

<style scoped>
.nav{
        background-color: white;
        font-size: 1.25em;
}
</style>