<template>
<div class="container" >

<div class="t">
<div class="row" >
    <p class="f">England/League One</P>
    <div class=" col text-center">
     
    </div>
  <div class="text-right">
    <span><b>1</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>
</div>

  <div class="row">
    <p class="f">Oxford United <br/>Crewe Alexandra</P>
    <div  class="col text-center">
            <v-row class="justify-center align-center">
      <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
      </v-row>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>
        <div class="t">
        <div class="row" >
            <p class="f">Denmark/1st Division</P>
            <div class=" col text-center">
             </div>
          <div class="text-right">
            <span><b>2</b></span>
            <button class="btn btn-default">&raquo;</button>
        </div>

        </div>
        </div>

    <div class="row">
    <p>Derby County <br/>Watford FC</P>
    <div class=" col text-center">
       <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>
<div class="row">
    <p>Derby County <br/>Watford FC</P>
    <div class=" col text-center">
      <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>
 <div class="row">
    <p>Everton FC <br/>Liverpool FC</P>
    <div class=" col text-center">
      <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>
</div>
    <div class="t">
            <div class="row" >
                <p class="f">Belgium/1st Division B</P>
                <div class=" col text-center">
                
                </div>
              <div class="text-right">
                <span><b>1</b></span>
                <button class="btn btn-default">&raquo;</button>
            </div>

              </div>
            </div>



  <div class="row">
    <p>Gangwon FC <br/>Incheon United FC</P>
    <div class=" col text-center">
      <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>
 <div class="row">
    <p>Viborg FF <br/>BK Fremad Amager</P>
    <div class=" col text-center">
       <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>
 </div> 

  <div class="t">
        <div class="row" >
            <p class="f">Republic Of Korea/K-League Classic</P>
            <div class=" col text-center">
            
            </div>
          <div class="text-right">
            <span><b>1</b></span>
            <button class="btn btn-default">&raquo;</button>
        </div>

          </div>
        </div>
 <div class="row">
    <p>Hvidovre IF<br/>Silkeborg IF</P>
    <div class=" col text-center">
       <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>
 <div class="row">
    <p>Hvidovre IF <br/>Silkeborg IF</P>
    <div class=" col text-center">
       <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>

  <div class="row">
    <p>Hvidovre IF<br/>Silkeborg IF</P>
    <div class=" col text-center">
      <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>

   <div class="row">
    <p>Hvidovre IF<br/>Silkeborg IF</P>
    <div class=" col text-center">
       <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>

<div class="t">
        <div class="row" >
            <p class="f">Serbia/Super Liga</P>
            <div class=" col text-center">
            
            </div>
          <div class="text-right">
            <span><b>1</b></span>
            <button class="btn btn-default">&raquo;</button>
        </div>

          </div>
        </div>
 <div class="row">
    <p>Oxford United <br/>Crewe Alexandra</P>
    <div class=" col text-center">
      <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>
 <div class="row">
    <p>Oxford United <br/>Crewe Alexandra</P>
    <div class=" col text-center">
      <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>

 <div class="row">
    <p>Oxford United <br/>Crewe Alexandra</P>
    <div class=" col text-center">
       <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>

   <div class="row">
    <p>Oxford United <br/>Crewe Alexandra</P>
    <div class=" col text-center">
       <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>

<div class="t">
        <div class="row" >
            <p class="f">Germany/3rd Liga</P>
            <div class=" col text-center">
            
            </div>
          <div class="text-right">
            <span><b>1</b></span>
            <button class="btn btn-default">&raquo;</button>
        </div>

          </div>
        </div>
 <div class="row">
    <p>Oxford United <br/>Crewe Alexandra</P>
    <div class=" col text-center">
      <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>
<div class="t">
        <div class="row" >
            <p class="f">Sweden/Superettan</P>
            <div class=" col text-center">
            
            </div>
          <div class="text-right">
            <span><b>1</b></span>
            <button class="btn btn-default">&raquo;</button>
        </div>

          </div>
        </div>
 <div class="row">
    <p>Oxford United <br/>Crewe Alexandra</P>
    <div class=" col text-center">
      <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>
<div class="t">
        <div class="row" >
            <p class="f">China/Chinese Super Leagueue</P>
            <div class=" col text-center">
            
            </div>
          <div class="text-right">
            <span><b>1</b></span>
            <button class="btn btn-default">&raquo;</button>
        </div>

          </div>
        </div>
 <div class="row">
    <p>Oxford United <br/>Crewe Alexandra</P>
    <div class=" col text-center">
      <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>
  <div class="t">
        <div class="row" >
            <p class="f">Serbia/Super Liga</P>
            <div class=" col text-center">
            
            </div>
          <div class="text-right">
            <span><b>1</b></span>
            <button class="btn btn-default">&raquo;</button>
        </div>

          </div>
        </div>
 <div class="row">
    <p>Oxford United <br/>Crewe Alexandra</P>
    <div class=" col text-center">
      <button style="width:100px;" >1 <b-icon icon="caret-up-fill" style='color:red;'></b-icon> <br>2.90</button>
      <button style="width:100px;">2 <b-icon icon="caret-down-fill"  style='color:green;'></b-icon><br>3.55</button>
      <button style="width:100px;">2<br>3.05</button>
    </div>
  <div class="text-right">
    <span><b>2 Bet Now</b></span>
    <button class="btn btn-default">&raquo;</button>
</div>

  </div>





</div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
.nav{
  background-color: lightgrey;
  position: static;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
}
.button{
    justify-content: center;
      text-align: center;



}


.t{
color: #494949;
display: table;
width: 100%;
border-bottom: #eee solid 1px;
border-top: #eee solid 1px;
}
.t{
font-size: 0.96em;
font-family: "Roboto Condensed", sans-serif;
font-weight: 600;
padding-block: 10px;
}
.r{
 padding: .9em .75em;
display: table-cell;
width: 20%;
text-align:right;
vertical-align: middle; 
}







</style>