 <template>

<div class="container">
   <div class="h2 mb-0">
    <b-icofont-navigation-menu></b-icofont-navigation-menu>
  </div>
  
  <b-navbar>
    <b-navbar-brand href="#">Menu</b-navbar-brand>
      <b-navbar-nav class="left">
        <b-nav-form left>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
        </b-nav-form>
      </b-navbar-nav>


 <div class="logo">
      <a  class="router-link-exact-active router-link-active" href="/">
      <img src="https://s3-eu-west-1.amazonaws.com/odibets/img/logo.png" 
      class="l-header-menu-logo">
      </a>
</div>
       <b-nav-item  style="display: table-cell;
              padding: 0 .75em 0 0;
              vertical-align: middle;
              text-align: right;
              white-space: nowrap;">
            <button style="display: inline-block;
                  padding: .45em .35em;
                  border-radius: 4px;
                  outline: none;">Log In</button>
        </b-nav-item>

        <b-nav-item class="right">
            <button style="background-color:yellow; text-align:right;padding:.45em .35em;display: inline-block;
            border-radius: 4px;
            background: #f9eb38;
            color: #333;
            font-weight: 700;
            border: #f9eb38 solid 1px;">Join Now</button>
         </b-nav-item>
  </b-navbar>
</div>
</template>

<style scoped>
.container{
	background: #11a306;
  height: 80px;
	color: #fff;
  display: block;
  width: 100%;
}  

.logo{
  display: table-cell;
width: 28%;
padding: 0 .5em;
vertical-align: middle;
text-align: center;
}

</style>