<template>

  <b-navbar>

   <b-navbar-nav>
     <div class="country">
      <span>All</span><br>
      <span><b>60</b></span>
     </div>
     <div class="country">
      <span>Germany</span><br>
      <span><b>6</b></span>
     </div>
     <div class="country">
      <span>France</span><br>
      <span><b>1</b></span>
     </div>
     <div class="country">
      <span>Netherlands</span><br>
      <span><b>3</b></span>
     </div>
     <div class="country">
      <span>Colombia</span><br>
      <span><b>2</b></span>
     </div>
     <div class="country">
      <span>Turkey</span><br>
      <span><b>1</b></span>
     </div>
     <div class="country">
      <span>Nairobi</span><br>
      <span><b>1</b></span>
     </div>
     <div class="country">
      <span>Chile</span><br>
      <span><b>4</b></span>
     </div>
     <div class="country">
      <span>Sweden</span><br>
      <span><b>3</b></span>
     </div>
     <div class="country">
      <span>Burundi</span><br>
      <span><b>1</b></span>
     </div>
     <div class="country">
      <span>Portugal</span><br>
      <span><b>3</b></span>
     </div>
     <div class="country">
      <span>Rwanda</span><br>
      <span><b>4</b></span>
     </div>
     <div class="country">
      <span>Brazil</span><br>
      <span><b>2</b></span>
     </div>
     <div class="country">
      <span>Eastonia</span><br>
      <span><b>4</b></span>
     </div>
     <div class="country">
      <span>All</span><br>
      <span><b>60</b></span>
     </div>
     <div class="country">
      <span>All</span><br>
      <span><b>60</b></span>
     </div>
      
      
    </b-navbar-nav>
  </b-navbar>

</template>
  

<script>
    export default {
      
    }

</script>

<style scoped>
.navbar{
  overflow: auto;
}


.country{
  border-right: #ccc solid 1px;
  padding: 0 1.25em;
	list-style: none;
  overflow: auto;
  height: 30px;
  margin: 0px;
  padding-inline-start: 0%;
}

</style>