<template>
  <div id="app">
    <Menu/>
   <Header/>
  <Navbar/>
  <Allcountries/>
  <Matches/>
    </div>

</template>

<script>
import Menu from './components/Menu.vue'
import Header from './components/Header.vue'
import Navbar from './components/Navbar.vue'
import Allcountries from './components/Allcountries.vue'
import Matches from './components/Matches.vue'

export default {
  name: 'App',
  components: {
    Menu,
     Header ,
     Navbar,
     Allcountries,
     Matches }
}

</script>

<style>
#app {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow: auto;
    position: relative;
     width: 800px;
     margin: 0 auto;
     background-color: #f2f4f6;
     color: #2d2927;
     line-height: 1.15;
}
body {
    margin: 0;
}
</style>
